body {
    font-family: sans-serif;
    color: black;
}
.h1 {
	color: black;
	text-align: center;
}
.pwd {
	margin-left: 70px;
	text-align: center;
	width:200px;
	height: 30px;
	color: black;
	text-align: center;
	border: black;
	border-style: inset;
	border-radius: 10px;
}
.val {
	float: right;
	margin: 0;
}
.row {
	align-content: center;
}
.Desc {
	color: black;
}
.btn {
	width:80px;
	height: 30px;
	border-color:gray;
	border-style: ridge;
	border-radius: 10px;
	font-style: italic;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	text-align: center;
	padding: 0;
}
