body {
    font-family: sans-serif;
    color: black;
}
.h1 {
	color: black;
	text-align: center;
}
.pwd {
	margin-left: 70px;
	text-align: center;
	width:200px;
	height: 30px;
	color: black;
	text-align: center;
	border: black;
	border-style: inset;
	border-radius: 10px;
}
.val {
	float: right;
	margin: 0;
}
.Desc {
	color: black;
}
.btn {
	background-color: lightslategray;
	width:80px;
	height: 30px;
}
.footer {
	background-color: #372323;
	text-align: center;
	border-top-left-radius: 50px;
	color: white;
}